body {
  margin: 0px auto;
  max-width: 500px;
  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;
  background-color: #FDFDFD;
  padding: 0 10px;
  text-align: center;
}

h1,h2,h3 {
  line-height: 1.2;
}

header a {
  text-decoration: none;
  color: #000;
}

header a:hover {
  text-decoration: underline;
}

a {
  color: #666;
}

hr {
  clear: both;
}

/* NAVIGATION */

/* display navigation horizontally and centered */
div.nav-table {
  display: table;
  margin: 0 auto;
}

ul.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.navigation li {
  float: left;
}
/* */

.nav-button .nav-icon {
  background-repeat: no-repeat;
  background-size: 38px 38px;
  height: 38px;
  width: 38px;
  margin: 2px;
}

.projects .nav-icon {
  background-image: url("../../images/svg/hammer.min.svg");
}

.github .nav-icon {
  background-image: url("../../images/svg/github.min.svg");
}

.flickr .nav-icon {
  background-image: url("../../images/svg/flickr.min.svg");
}
.five-hundred-px .nav-icon {
  background-image: url("../../images/svg/500px.min.svg");
}

.nav-button {
  color: #057ef7;
  padding: 0px 15px;
  text-align: center;
  font-size: 13px;
}

.nav-button:hover {
  text-decoration: none;
}

/* PROJECT LIST */
.project-img {
  width: auto;
  height: auto;
  max-width: 100%;
}

.project {
  max-width: 500px;
  padding: 8px;
  border: 2px solid #CCC;
  border-radius: 8px;
  text-align: center;
  margin: 8px 0;
}

.project:hover {
  padding: 8px;
  border: 2px solid #888;
}

.project p {
  margin: 0;
  font-weight: bold;
}

.project a {
  text-decoration: none;
}
