body {
  margin: 40px auto;
  max-width: 800px;
  line-height: 1.6;
  font-size: 18px;
  font-family: sans-serif;
  color: #444;
  background-color: #FDFDFD;
  padding: 0 10px;
}

h1,h2,h3 {
  line-height: 1.2;
}

header a {
  text-decoration: none;
  color: #444;
}

header a:hover {
  text-decoration: underline;
}

a {
  color: #666;
}

.article-title {
  font-size: 125%;
}

.article-date {
  color: #888;
}

.highlight {
  border-radius: 10px;
  padding: 10px;
  overflow: scroll;
}

.category-button {
  color: #057ef7;
  padding: 5px 15px;
  text-decoration: none;
  border: 2px solid transparent;
}

.category-button:hover {
  text-decoration: none;
  border: 2px solid #057ef7;
  border-radius: 8px;
}

hr {
  clear: both;
}

pre {
  line-height: 1.1;
  margin: 0;
}
